<template name="guarantee">
	<div class="fpsection" id="{{ prettyId }}">
		<figure 
		data-anchor-target="#{{prettyId}} .row" 
		data-bottom="background-position: 50% 50px;" 
		data-center-bottom="background-position: 50% 20px;" 
		data--400-top="background-position: 50% -100px;" 
		style="background-image:url('{{ hero.url }}');">
		</figure>
	  <div class="row white z-depth-3">
	    <div class="col m1 hide-on-small-only">
	      <img class="icon" src="{{ iconImage.url }}" width="256" height="256" />
	    </div>
	    <div class="col s12 m9 offset-m2">
	          <!-- checkbox -->
	          <form class="ac-custom ac-checkmark" autocomplete="off"><ul><li>
	          <label for="chk{{ _id }}">
	          <input id="chk{{ _id }}" name="chk{{ _id }}" type="checkbox" class="realcheck">
	          {{#if currentUser }}
	          {{else}}
	          {{>checkmark}}
	          {{/if}}
	          </label>
	          </li></ul></form>
	          <!-- /checkbox -->
	        <h2 class="header indigo-text text-darken-4">{{ title }}</h2>
	        <h4 class="dek grey-text text-darken-3 lighten-3">{{ dek }}</h4>
	    </div>
	    <div class="col s12">
			<ul class="collapsible" data-collapsible="accordion">
	          <li>
	            <div class="collapsible-header"><i class="mdi-editor-wrap-text"></i>Full Text</div>
	            <div class="collapsible-body">
	            {{{ body }}}
	            </div>
	          </li>
	        </ul>
	    </div>
	    <a href="#" class="btn-large btn-floating btn-small waves-effect waves-light waves-circle white scroll-arrow">
		<i class="fa fa-chevron-down blue-text text-darken-4"></i>
		</a>
	  </div>
	</div>
</template>